# Python Basics

1. What is Python, and why is it popular?
- Python is a programing language that used for variety of tasks, including: Data Analysis, Web Development, Sftware Development etc.
- Python is popular because:
a)  It is very popular among the developers because it is easy to write and understand.
b) It is compatible with various programming paradigms, such as object-oriented, procedural and functional programming.
c)It is use for front-end and back-end data analysis.
d)It is also used for Automation, Image Processing.
e)Python has a large and active community of developers and it have large number of libraries.

2. What is an interpreter in Python?
- An interpreter in Python is a computer program that takes the Python code and converts it into machine readable byte code.Basically it translates the code that you write into instructions that the computer can understand and execute them line by line.

3. What are pre-defined keywords in Python?
-  Pre-defined keywords in Python are predefined words that python reserves for working in programs that have a specific meaning.
These words cannot be used as identifiers (variable names, function names, etc.)
Examples of keywords - False, True, None, and, as, assert, async, await, def, del, elif, else, break, class, continue, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with and yield.

4. Can keywords be used as variable names?
- No, keywords can not be used as variable names.

5. What is mutability in Python?
- In Python, mutability refers to the ability to change the value or state of an object after it has been created.

6. Why are lists mutable, but tuples are immutable?
- Lists are mutable because we can chnge or edit a list after it have been created but we can not able to change a tupple after its creation.

7.  What is the difference between “==” and “is” operators in Python?
-  In Python the equality operator ( == ) checks if two variables or values are equal or not. The result of the evaluation is either True or False . The equality operator returns True if the values are equal. If the values aren't equal, the comparison returns False.
Example:
2==2 returns Tue
2==3 returns False

- The "is" operator in Python is a comparison operator used to check if two objects refer to the same memory location. This means that the is operator checks whether two variables or objects have the same identity, rather than just the same value.
Example:
If a and b point to the same list, then a is b returns True. However, if a and c have the same values but are different lists, then a is c returns False.

8.  What are logical operators in Python?
- Logical operators in Python are special keywords that connect and evaluate multiple conditions within a single expression. They are used to perform logical operations on Boolean values, which are either True or False. Example: And, Or, Not operators.

9. What is type casting in Python?
- Type casting in Python is the process of converting a variable's data type from one type to another. Example: If we want to change "str" to "int" we can use type casting.

10. What is the difference between implicit and explicit type casting?
- Implicit type casting:
The Python interpreter automatically converts one data type to another without the programmer's involvement.
  Explicit type casting:
The programmer manually converts one data type to another by writing code that instructs the interpreter to make a specific conversion.  Programmers can use predefined Python functions like float(), str(), and int() for explicit type conversion.

11.  What is the purpose of conditional statements in Python?
- Conditional statements in Python control the flow of a program by evaluating conditions and executing code based on the outcome. That helps you to code decessions based on some predefined conditions.
Example: If, If-else, If-else-elif

12. How does the elif statement work?
- elif= else + if
 It can be used in conditional statements to check for multiple conditions. For example: if the first condition is false, it moves on to the next “elif” statement to check if that condition is true.

13.  What is the difference between for and while loops?
- "for" loops are used to iterate over a sequence of elements.
"While" loops oops are used for executing code until a specified condition is met or becomes False.

14. Describe a scenario where a while loop is more suitable than a for loop.

- While loop is more suitable than For loop because usualy we use for loop when we know the exactly how many times the loop should run but we use while loop when we don't know the exactly how many times will the loop run and it will breaks automatically based on the conditions.

In [ ]:
# 1. Write a Python program to print "Hello, World!"

print("Hello, World!")

Hello, World!

In [ ]:
# 2. Write a Python program that displays your name and age.

name=("Name- Dipanjan Dutta")
age=("Age- 24")
print(name)
print(age)

Name- Dipanjan Dutta
Age- 24

In [ ]:
# 3.Write code to print all the pre-defined keywords in Python using the keyword library.

help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
# 4. Write a program that checks if a given word is a Python keyword

import keyword
keyword.iskeyword("if")

True

In [ ]:
import keyword
keyword.iskeyword("Dipanjan Dutta")

False

In [ ]:
import keyword
keyword.iskeyword("break")

True

In [ ]:
# 5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

list=[1,2,3,58,"Dip"]

list[2]

3

In [ ]:
list[-1]

'Dip'

In [ ]:
list[4]="Ajay"
print(list)

[1, 2, 3, 58, 'Ajay']

In [ ]:
list[-4]=500
print(list)

[1, 500, 3, 58, 'Ajay']

In [ ]:
a=(1,2,3,58,"Dip")
a[2]

3

In [ ]:
a[-2]

58

In [ ]:
a[-2]= "Uganda"     #We can not make changes in tupple
print(tpple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 6/7. Write a function to demonstrate the behavior of mutable and immutable arguments

# mutable arguments:

a=[1,8,7,65,"Dipanjan","Ajay"]
print(a)

[1, 8, 7, 65, 'Dipanjan', 'Ajay']

In [ ]:
a[2]="Ram"
print(a)

[1, 8, 'Ram', 65, 'Dipanjan', 'Ajay']

In [ ]:
a[-1]="USA"
print(a)

[1, 8, 'Ram', 65, 'Dipanjan', 'USA']

In [ ]:
# immutable arguments:

b="IIM Calcutta"

b[6]

'l'

In [ ]:
b[6]=g #We can not change a part of string.

NameError: name 'g' is not defined

In [ ]:
# 8. Write a program to demonstrate the use of logical operators

 # and:

print(5>1 and 4<6)
print(5>1 and 4<1)

True
False

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# Or:

print(5>1 or 4<6)
print(5>1 or 4<1)

True
True

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
# not:

a=True
b=False
print(not a)

False

In [ ]:
a=True
b=False
print(not b)

True

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
# 9.Write a Python program to convert user input from string to integer, float, and boolean types

a=input("Enter a number: ")

Enter a number: 148

In [ ]:
print (type(a))

<class 'str'>

In [ ]:
a  # We can see now it is in str type

'148'

In [ ]:
# Now if I want to change it to an integer
int(a)

148

In [ ]:
# Now if I want to change it to float value
float(a)

148.0

In [ ]:
# Now if I want to change it to boolean
bool(a)

True

In [ ]:
# 10.  Write code to demonstrate type casting with list elements

my_list = [10, 20, 30, 4.8, '40', '50', True, False]                  # True= 1
int_list = [int(my_list) for my_list in my_list]                      # False= 0
print("Integer List:", int_list)

Integer List: [10, 20, 30, 4, 40, 50, 1, 0]

In [ ]:
my_list = [10, 20, 30, 4.8, '40', '50', True, False]
str_list = [str(my_list) for my_list in my_list]
print("String list:", str_list)

String list: ['10', '20', '30', '4.8', '40', '50', 'True', 'False']

In [ ]:
my_list = [10, 20, 30, 4.8, '40', '50', True, False]
float_list=[float(my_list) for my_list in my_list]
print("Floating list:",float_list)

Floating list: [10.0, 20.0, 30.0, 4.8, 40.0, 50.0, 1.0, 0.0]

In [ ]:
my_list = [10, 20, 30, 4.8, '40', '50', True, False, 0]
bool_list=[bool(my_list) for my_list in my_list]
print("Floating list:",bool_list)

Floating list: [True, True, True, True, True, True, True, False, False]

In [ ]:
# 11. Write a program that checks if a number is positive, negative, or zero

a=int(input("write a number: "))
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

write a number: 15
Positive

In [ ]:
a=int(input("write a number: "))
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

write a number: -45
Negative

In [ ]:
a=int(input("write a number: "))
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

write a number: 0
Zero

In [ ]:
a=float(input("write a number: "))
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

write a number: 6.25
Positive

In [ ]:
a=float(input("write a number: "))
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

write a number: -5.41
Negative

In [ ]:
# 12. Write a for loop to print numbers from 1 to 10

for i in range(11):
  print(i )

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 13. Write a Python program to find the sum of all even numbers between 1 and 50

sum=0
for i in range(51):
  if i%2==0:
    print(i)
    sum +=i
print(sum)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
650

In [9]:
# 15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

a=int(input("Enter a number: "))  # getting input of a number to know the factorial
factorial=1                       # A variable named factorial is created and assigned the initial value of 1
while a>0:                        # This line starts a while loop that continues as long as the value of a is greater than 0.
  factorial=factorial*a           # Inside the loop, the current value of factorial is multiplied by the current value of a, and the result is stored back in factorial.
  a=a-1                           # This line decreases the value of a by 1 after factotial*a.
print(factorial)

Enter a number: 4
24

In [11]:
# 14.  Write a program to reverse a string using a while loop.

a=input("Enter a string: ")  # This line  takes an input of a string
reverse=""                   # An empty string is assigned to the variable reverse
length=len(a)                # The len() function calculates the length of the string stored in a, and this length is assigned to the variable length
while length>0:              # This initiates a while loop that will continue as long as the length is greater than 0.
  reverse=reverse+a[length-1]# It accesses the character in the string a at the index length-1.reverse+a[length-1]: It then takes this character and adds it to the beginning of the reverse string
  length=length-1            # This line decreases the value of length by 1
print(reverse)

Enter a string: kolkata
ataklok